image: Visual Studio 2022

install:
  - ps: Install-Product node 22

# Version format
version: 16.1.0.{build}

branches:
  only:
    - develop
    - master   

platform: Any CPU

configuration: Release

build_script: 
  - ps: .\Packaging\BuildPackage.ps1

artifacts:
  - path: dist\*.nupkg


deploy:
 # MyGet Deployment for beta releases  
  - provider: NuGet
    server: https://www.myget.org/F/dawoe-umbraco/api/v2/package
    api_key:
      secure: xuhyqGpLpjeK0tUansB6IVWy89Fw+yqGqCmCpVuAY1fnDjfYrxA/gVGNBh8oU0JA
    artifact: /.*\.nupkg/
    on:
      branch: develop     

# NuGet Deployment for releases
  - provider: NuGet
    server:
    api_key:
      secure: wRH2CWUraB7KX/JhTAMlaMklO2RWZdRt7jVFbE+viu48r03iV8pgJdj4aMOPAnvq
    artifact: /.*\.nupkg/
    on:
      branch: master
      appveyor_repo_tag: true

