<div ng-controller="Dawoe.OEmbedPickerEditorController as vm">
    <div class="umb-table">
        <div class="umb-table-body" ui-sortable="sortableOptions" ng-model="vm.items">
            <div class="umb-table-row" ng-repeat="embed in vm.items">
                <div class="umb-table-cell">
                    <i class="icon icon-navigation handle"></i>
                </div>
                <div class="umb-table-cell not-fixed">
                    <span ng-bind-html="vm.trustHtml(embed.preview)"></span>
                </div>
                <div class="umb-table-cell">
                    Url : {{embed.url}} <br/>
                    Width : {{embed.width}} <br/>
                    Height: {{embed.height}} <br/>
                </div>
            </div>
        </div>
    </div>
 
    <umb-button action="vm.open()" type="button" button-style="action" label="Add item" add-ellipsis="true"></umb-button>
</div>