<div ng-controller="Dawoe.OEmbedPickerEditorController as vm">
    <div class="umb-table">
        <div class="umb-table-body" ui-sortable="sortableOptions" ng-model="vm.items">
            <div class="umb-table-row" ng-repeat="embed in vm.items track by $index">
                <div class="umb-table-cell">
                    <i class="icon icon-navigation handle"></i>
                </div>
                <div class="umb-table-cell umb-table-cell--auto-width">
                   
                    <span ng-bind-html="vm.trustHtml(embed.preview)"></span>
                    
                </div>
           
                <div class="umb-table-cell">
                    <a class="umb-node-preview__action" ng-click="edit(parameter, $event)"><localize key="general_edit">Edit</localize></a>
                    <a class="umb-node-preview__action umb-node-preview__action--red" ng-click="remove(parameter, $event)"><localize key="general_remove">Remove</localize></a>
                </div>
            </div>
        </div>
    </div>
 
    <umb-button action="vm.add($event)" type="button" button-style="action" label="Add item" add-ellipsis="true"></umb-button>
</div>