<div ng-controller="Dawoe.EmbedPropertyEditor.Editor">
    <div ng-show="model.value == ''">
        <i class="icon icon-add blue"></i>
        <a href="#" ng-click="AddEmbed()" prevent-default="">
            <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
        </a>
    </div>
    
    <div ng-show="model.value != ''" ng-bind-html-unsafe="model.value"></div>
    <div ng-show="model.value != ''">
         <i class="icon icon-delete red"></i>
        <a href="#" ng-click="RemoveEmbed()" prevent-default="">
            <localize key="general_delete" class="ng-isolate-scope ng-scope">Remove</localize>
        </a>
    </div>
</div>