<div ng-controller="Dawoe.OEmbedPickerEditorController as vm" class="Dawoe-OEmbedPicker umb-property-editor umb-mediapicker umb-mediapicker-multiple">
  <ng-form name="vm.oembedform">
    <div ui-sortable="sortableOptions" ng-model="vm.items" class="items-container" ng-hide="!model.value">
      <div class="umb-sortable-thumbnails umb-table-row" ng-repeat="embed in vm.items track by $index">
        <div class="sort-icon" ng-if="vm.allowMultiple === true && vm.items.length > 1">
          <umb-icon icon="icon-navigation" class="icon handle"></umb-icon>
        </div>
        <div class="preview-item">
          <span ng-bind-html="vm.trustHtml(embed.preview)"></span>
        </div>
        <div class="umb-sortable-thumbnails__actions">
          <button type="button" class="umb-node-preview__action" ng-click="vm.edit($index, $event)">
            <umb-icon icon="icon-edit" class="icon"></umb-icon>
          </button>
          <button type="button" class="umb-node-preview__action umb-node-preview__action--red" ng-click="vm.remove($index, $event)">
            <umb-icon icon="icon-delete" class="icon"></umb-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="picker-btn" ng-hide="vm.allowMultiple === false && vm.items.length == 1">
      <button type="button" class="add-link btn-reset umb-outline umb-outline--surrounding add-link-square" ng-click="vm.add($event)">
        <umb-icon icon="icon-add" class="icon large"></umb-icon>
      </button>
    </div>
    <input type="hidden" name="itemCount" ng-model="vm.items.length" val-property-validator="vm.validateMandatory" />
  </ng-form>
</div>
