name: PR validation

on:
  pull_request:
    branches:
    - develop

jobs:
  build:
    permissions:
      pull-requests: write
      contents: read
    env:
        BUILD_CONFIG: 'Release'
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.x'
      
      - name: NPM install
        run:  npm ci
        working-directory: src/Dawoe.OEmbedPickerPropertyEditor.UI/client
        
      - name: Restore
        run: dotnet restore 
        working-directory: src/
      
      - name: Build
        run: dotnet build -c ${{ env.BUILD_CONFIG }} --no-restore
        working-directory: src/
      
      - name: Test
        run: dotnet test -c ${{ env.BUILD_CONFIG }} --no-restore --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
        working-directory: src/
     

 